@import "~bootstrap/scss/bootstrap";

section.card {
  overflow: auto;
  height: 500px;

  .card {
    cursor: pointer;

    &.PENDING {
      background-color: #ffef66;
    }

    &.COMPLETED {
      background-color: #ffb547;
    }

    &.DONE {
      background-color: #66cc66;
    }

    >div {
      word-wrap: none;
    }
  }
}

